Language: Cpp
Standard: Cpp17
BreakBeforeBraces: Allman

# BeforeLambdaBody doesn't seem to work but I'll just leave it in for later
BraceWrapping:
    #BeforeLambdaBody: true

IndentWidth: 4
TabWidth: 4
UseTab: Always
ColumnLimit: 0
AccessModifierOffset: -4
AlwaysBreakTemplateDeclarations: No

# Can't have seperate alignemnts for references and pointers so can't have references be left aligned I guess ¯\_(ツ)_/¯
PointerAlignment: Right
