Language:   Cpp
BreakBeforeBraces: Allman
IndentWidth: 4
TabWidth: 4
UseTab: Always
ColumnLimit: 0

# Can't have seperate alignemnts for references and pointers so can't have references be left aligned I guess ¯\_(ツ)_/¯
PointerAlignment: Right
